/* Jquery Data  */
#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 38px;
  height: 38px;
  background-image: url(./Js/scrollup-master/demo/img/top.png);
}
 li .hv > ul{
display: none;
}
li .hv .drop{
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
}
li .hv:hover .drop{
  width: 100%;
  background: cyan; 
  position: absolute;
  z-index: 999999;
  display: block;
}
ul li:hover .sub-drop{
  display: block;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
color: #666666;
font-size: 16px;
/* font-family: 'Poppins', sans-serif; */
font-weight: 400;
line-height: 1.5;
background-color: #fff;
}


section {
  max-height: auto;
  width: 100%;
}


.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* type dynamic related classes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.con{
    display: flex;
    max-width: 100vw;
    height: 400px;
    overflow: hidden;
}

.content{ 
  position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 0 0 40px ;
    /* transform: skewX(160deg); */
    flex: 1;
    z-index: 111;
    width: 50%;
}
.content p{
    font-size: 30px;
    text-align: center;
    color: #000;
}
.content h6{
  text-align: center;
}
.content a{
    padding: 10px;
    background-color: #0a837f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
}
.content a:hover {
    color: #0a837f;
    background: #fff;
    border: 2px solid #0a837f;
}
.content h6{
    z-index: 111;
}
    .images{
        width: 50%;
        margin: -15px;
      }
    
      .images::after{
        position:absolute;
        content: '';
        top: 0%;
        left: 49%;
        margin-left: -20px;
        width:10%;
        height: 70vh;
        background-color: #fff;
        overflow: hidden;
        z-index: 1;
        transform: skewX(-165deg);
    }


    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .wrapper .static-txt{
        color: #000;
        font-size: 25px;
        font-weight: 400;
      }
      .wrapper .dynamic-txts{
        padding: 0px;
        margin:-10px 0 0 10px;
        height: 36px;
        line-height: 45px;
        overflow: hidden;
      }
      .dynamic-txts li{
        list-style: none;
        color: #0a837f;
        font-size: 25px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 8s steps(8) infinite;
      }
      @keyframes slide {
        100%{
          top: -360px;
        }
      }

      .dynamic-txts li span{
        position: relative;
        margin: 5px 0;
        line-height: 42px;
      }
      .dynamic-txts li span::after{
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        height: 100%;
        width: 100%;
        background: #ffffff;
        border-left: 2px solid #0a837f;
        animation: typing 1s steps(10) infinite;
      }
      @keyframes typing {
        40%, 60%{
          left: calc(100% + 10px);
        }
        100%{
          left: 0;
        }
      }

/* About Us Part */
.about{
  margin-top: 30px;
  display: flex; 
  flex-direction: row; 
}
.aboutimg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 60vh;
}
.aboutimg img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.abouttext{
  font-family:  Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.a{
  font-size: 50px;
  color:#0a837f;
}
.ft{
  font-size: 40px;
  font-weight: 600;
  border-bottom: 5px solid #0a837f;
}


/* features page */
.features{
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 400;
  color: #000;
}
.fcard{
  margin: 30px 20px;
  padding: 15px;
  width: 400px;
  height: 500px;
  /* max-width: 22vw; */
  border: 4px solid #0a837f;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  transition: all 0.5s;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

.fcard:hover img{
  filter: drop-shadow(0 0 0.75rem #ffd24a)
}

/* .fcard .imgbox{
width: 22%;
max-height: 30%;
border: 3px solid rgb(94, 20, 172);
border-radius: 50%;
}
.fcard .imgbox svg{
  padding: 10%;
  text-align: center;
  height: 100%;
  width: 100%;
} */
.fcard .titlebox{
  padding: 0;
}
.fcard .titlebox h4{
  font-weight: bold;
  text-align: center;
  border-bottom: 4px solid #0a837f;
  margin: 10% 0px 10px 0px;
  font-weight: 400;
}
.fcard .contentbox p{
  font-size: 19px;
  font-family:  Calibri, 'Trebuchet MS', sans-serif;
}

.fcard:hover{
  background-color: #ffffff;
  box-shadow: 9px 2px 15px 0px rgba(0,0,0,0.3);
transform:scale(1.06);
}



/* Courses related css */

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 30px 40px;
  display: flex;
  position: relative;
  border-radius: 6px solid #fff;
  max-width: 400px;
  height: 450px;
  /* max-height: 450px; */
  box-shadow: 0 12px 28px -10px black;
}

/* .card-title {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #0a837f;
  padding: 2%;
  margin:1px 0px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
} */

/* .imgset{

} */

.card-desc {
  display: block;
  font-size: 16px;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  /* overflow-y: scroll; */
  transition: 0.8s ease;
}

.card:hover .card-desc {
  opacity: 1;
  height: 91.2%;
}

h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 40px 0 20px 0;
  text-align: center;
}
.card .set {
  width: 100%;
  background-color: #0a837f;
  position: absolute;
  bottom: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card a{
  height: auto;
  width: 100%;
  background-color: #0a837f;
  color: #fff;
  font-size: 18px;
  padding: 6px;
  border-radius: 4px;
  text-decoration: none;
  /* margin: 5px 0px 0px 0px; */
}

.card:hover .icons{
  visibility: visible;
}
.set a {
  width: 100%;
  margin: 0px 0px 0px 30px;

}
.set a .icons 
{ transition: 0.5s;
  visibility: hidden;
  margin: -2px 0px 0px 3px;
  width:1.5em;
  height: 1.5em;
}


/* packages Details  */
/*============ Google Fonts ============*/
@Import Url('Https://Fonts.Googleapis.Com/Css2?Family=Poppins:wght@400;500;600&Display=Swap');
@Import Url('Https://Fonts.Googleapis.Com/Css2?Family=Bebas+Neue&Display=Swap');

:Root{
  /*===== Colors =====*/
  --Card-01-Color-01: #Ffb200;
  --Card-01-Color-02: #Ff9700;
  --Card-02-Color-01: #96c110;
  --Card-02-Color-02: #80ad0a;
  --Card-03-Color-01: #64b2f2;
  --Card-03-Color-02: #489ed9;
  --Card-Body-Bg-Color: #Fff;
  --Text-Disabled-Color: #B2b2b2;
  --Icon-Disabled-Color: #Ff0404;
  --Body-Bg-Color: #E5f6ff;

  /*===== Fonts =====*/
  --Poppins-Font: 'Poppins', Sans-Serif;
  --Bebas-Font: 'Bebas Neue', Cursive;
}



.Main-Container{
  Position: Relative;
  Max-Width: 1200px;
  Min-Height: 100vh;
 Margin-Left: Auto;
  Margin-Right: Auto; 
  Padding: 2rem;
  Display: Flex;
  Justify-Content: Center;
  Align-Items: Center;
}

.Card-Container{
  Display: Grid;
  Width: 100%;
  Grid-Template-Columns: Repeat(Auto-Fit, Minmax(300px, 1fr));
  Gap: 40px;
  /* Margin: 50px 0; */
}

.Pricing-Card{
  Position: Relative;
}

.Card-Body{
  Position: Relative;
  Width: 100%;
  Background: Var(--Card-Body-Bg-Color);
  Border-Radius: 0 0 10px 10px;
  Box-Shadow: 0 5px 25px Rgb(0 0 0 / 20%);
  Margin-Top: 50px;
}

.Card-Body .Top-Shape{
  Clip-Path: Polygon(0 0, 100% 0%, 100% 50%, 50% 75%, 0 50%);
  Height: 200px;
}

.Card-01 .Card-Body .Top-Shape{
  Background: Var(--Card-01-Color-01);
}

.Card-02 .Card-Body .Top-Shape{
  Background: Var(--Card-02-Color-01);
}

.Card-03 .Card-Body .Top-Shape{
  Background: Var(--Card-03-Color-01);
}

.Card-Body .Top-Shape:before{
  Content: '';
  Position: Absolute;
  Clip-Path: Polygon(0 0, 100% 0%, 100% 25%, 50% 50%, 0 25%);
  Width: 100%;
  Height: 200px;
}

.Card-01 .Card-Body .Top-Shape:before{
  Background: Var(--Card-01-Color-02);
}

.Card-02 .Card-Body .Top-Shape:before{
  Background: Var(--Card-02-Color-02);
}

.Card-03 .Card-Body .Top-Shape:before{
  Background: Var(--Card-03-Color-02);
}

.Pricing{
  Z-Index: 999;
  Font-Family: Var(--Bebas-Font);
  Text-Align: Center;
  Position: Absolute;
  Width: 100%;
}

.Price{
  Display: Flex;
  Justify-Content: Center;
  Margin-Bottom: 3px;
}

.Price Span{
  Font-Size: 3em;
  Line-Height: 100px;
}
/* 
.Price Sup{
  Font-Size: 2em;
  Transform: TranslateY(-15px);
} */

.Pricing P{
  Font-Family: Var(--Poppins-Font);
  Font-Weight: 500;
  Margin-Bottom: 10px;
}

.Pricing .Type{
  Text-Transform: Uppercase;
  Font-Size: 2.5em;
}

.Card-Body .Card-Content{
  Display: Flex;
  Justify-Content: Center;
  Align-Items: Center;
  Flex-Direction: Column;
  Transform: TranslateY(-30px);
}

.Card-Body .Card-Content Ul{
  Width: 100%;
  Font-Family: Var(--Poppins-Font);
  Text-Align: Center;
  Margin-Bottom: 20px;
  Padding: 0 20px;
}

.Card-Body .Card-Content Ul Li{
  List-Style: None;
  Font-Size: 0.95em;
  Font-Weight: 500;
  Display: Flex;
  Justify-Content: Center;
  Align-Items: Center;
  Line-Height: 35px;
  White-Space: Nowrap;
}

.Card-Body .Card-Content Ul Li I{
  Font-Size: 1.9em;
  Margin-Left: 15px;
}

.Card-01 .Card-Body .Card-Content Ul .Active I{
  Color: Var(--Card-01-Color-01);
}

.Card-02 .Card-Body .Card-Content Ul .Active I{
  Color: Var(--Card-02-Color-01);
}

.Card-03 .Card-Body .Card-Content Ul .Active I{
  Color: Var(--Card-03-Color-01);
}

.Card-Body .Card-Content Ul .Disabled{
  Color: Var(--Text-Disabled-Color);
}

.Card-Body .Card-Content Ul .Disabled I{
  Color: Var(--Icon-Disabled-Color);
}

.Card-Content .Buy-Btn{
  Font-Family: Var(--Bebas-Font);
  Border: None;
  Outline: None;
  Padding: 0 28px;
  Border-Radius: 15px;
  Text-Transform: Uppercase;
  Font-Size: 1.9em;
  Cursor: Pointer;
  Margin-Bottom: 40px;
}

.Card-01 .Card-Content .Buy-Btn{
  Background: Linear-Gradient(Var(--Card-01-Color-01) 50%, Var(--Card-01-Color-02) 50%);
}

.Card-02 .Card-Content .Buy-Btn{
  Background: Linear-Gradient(Var(--Card-02-Color-01) 50%, Var(--Card-02-Color-02) 50%);
}

.Card-03 .Card-Content .Buy-Btn{
  Background: Linear-Gradient(Var(--Card-03-Color-01) 50%, Var(--Card-03-Color-02) 50%);
}

.Card-01 .Card-Content .Buy-Btn:hover{
  Background: Linear-Gradient(Var(--Card-01-Color-02) 50%, Var(--Card-01-Color-01) 50%);
}

.Card-02 .Card-Content .Buy-Btn:hover{
  Background: Linear-Gradient(Var(--Card-02-Color-02) 50%, Var(--Card-02-Color-01) 50%);
}

.Card-03 .Card-Content .Buy-Btn:hover{
  Background: Linear-Gradient(Var(--Card-03-Color-02) 50%, Var(--Card-03-Color-01) 50%);
}

.Ribbon{
  Width: 110px;
  Height: 110px;
  Position: Absolute;
  Bottom: -10px;
  Left: -10px;
  Display: Flex;
  Justify-Content: Center;
  Align-Items: Center;
  Overflow: Hidden;
}

.Ribbon:before{
  Content: 'Limited Time';
  Display: Flex;
  Justify-Content: Center;
  Align-Items: Center;
  Font-Family: Var(--Poppins-Font);
  Font-Size: 0.8em;
  Font-Weight: 600;
  Position: Absolute;
  Width: 150%;
  Height: 30px;
  Transform: Rotate(45deg) TranslateY(15px);
}

.Card-01 .Ribbon:before{
  Background: Var(--Card-01-Color-01);
}

.Card-02 .Ribbon:before{
  Background: Var(--Card-02-Color-01);
}

.Card-03 .Ribbon:before{
  Background: Var(--Card-03-Color-01);
}

.Ribbon:after{
  Z-Index: -1;
  Content: '';
  Position: Absolute;
  Width: 150%;
  Height: 30px;
  Transform: Rotate(225deg) TranslateY(15px);
}

.Card-01 .Ribbon:after{
  Background: Var(--Card-01-Color-02);
}

.Card-02 .Ribbon:after{
  Background: Var(--Card-02-Color-02);
}

.Card-03 .Ribbon:after{
  Background: Var(--Card-03-Color-02);
}

/* feedback page event  */
.feedback{
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  position: fixed;
  right: 0;
  bottom: 100px;
  text-align: center;
  background-color: black;
  color: white;
  height: 100px;
  width: 30px;
  box-shadow: 2px 2px 10px 3px #0a837f;
}

.feedback p{
  text-align: center;
  padding-top: 15px;
}
.feedback p a{
  text-decoration: none;
  color: white;
}































@Media Screen And (Max-Width: 845px){
  .Main-Container{
    Max-Width: 680px;
  }  

  .Pricing-Card{
    Margin: 20px 0;
  }
}

@Media Screen And (Max-Width: 575px){
  .Main-Container{
    Max-Width: 350px;
  }
}


/* contact us css */


h1 {
  font-family: 'Poppins', sans-serif, 'arial';
  font-weight: 600;
  font-size: 72px;
  color:#0a837f;
  text-align: center;
}

h4 {
  font-family: 'Roboto', sans-serif, 'arial';
  font-weight: 400;
  padding: 14px 0 0 0;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #000;
  top: -5px;
  left: -21px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: rgb(0, 0, 0);
  padding: 0.4rem 10px 0rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 12px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  /* background-color: #2d2d2d; */
  color: #000;
  border-radius: 4px;
  border: 3px solid #0a837f;
}

input:focus,
textarea:focus { 
  border: 2px solid #fff;
  outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}
 .submit-btn {
  outline: none;
  float: right;
  background: none;

}

.submit-btn:hover {
  transform: scale(1.01);
  background-color: #fff;
  color: #0a837f;
  border:1px solid #0a837f;
  outline: none;
}
.submit-btn:hover input{
  transform: scale(1.01);
  background-color: #0a837f;
  color: #fff;
  border:1px solid #fff;
  outline: none;
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
letter-spacing: 3px;
font-weight: bold;
color: rgb(39, 35, 41);
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}

.conform{
  position: relative;
  max-width: 100vw;
  height: 100vh;
}

.conform::before{
  position: absolute;
width: 100vw;
 height: 100%;
  content: '';
  background: url(./images/photo.jpg)fixed no-repeat;
  background-size:cover;
  filter: brightness(40%);
  margin-left:-41px;
  overflow-x: hidden;
  z-index: -1;
}

#wave {
  position: absolute;
  /* width: 100vw;
  height: 90vh; */
  margin-left: -30px;
  margin-top: -125px;
  /* overflow-x: hidden; */
}
#wave svg{
  z-index: -11111;
}

/* responsive burger */
.burger{
  display: none;
position: absolute;
top: 10px;
right: 3%;
}
.burger .line{
  height: 4.5px;
  width: 35px;
  background-color: rgb(255, 255, 255);
  margin: 5px 5px;
  border-radius: 3px;
}



/* Responsive related data  */

 @media screen and (max-width:1600px){
  .images::after{
    left:47.5% ;
  }
}
@media screen and (max-width:1300px){
  .images{
   display: none;
  }
  .con{
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  .content{
    margin: 0px 0px;
    /* padding: 55px 20px; */
    max-width: 80vw;
    height: auto;
    align-items: center;
  }
  .about{
    margin-top: 0px;
    flex-direction:column;
  }
  .aboutimg{
    margin: 0px 20%;
    width: 60%;
    height: auto;
    }

    /* .Main-Container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    } */
} 

@media screen and (max-width:1050px) {
  .navbg{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}
@media screen and (max-width:700px) {
 /* naivgation bar created */
  /* .navbg .navcontent{
    width: 0vw;
    height: 100vh;
  } */
  .ft{
    font-size: 30px;
  }
  .navbar {
    height: 50vh;
    transition: all .7s;
    padding: 20px;
  }
  nav ul li{
    display: inline-block;
    width: 50vw;
    margin: auto;
    height: auto;
    text-align: center;
    /* padding: 5px 0px; */
  }
  .burger{
    display: block;
  }
  .h-resp{
    height: 55px;
  }
  .v-class{
    opacity: 0;
  }


  .con{
    height: 600px;
  }
}




















